

*, *:before,*:after{
	box-sizing: border-box;
}

h2{margin: 0; font-weight: 700;}

body{
	min-height: 100vh;
	margin: 0;
	line-height: 1.5;
	background-color: hsl(216, 12%, 8%);
	color: white;
	display: grid;
	place-items: center;
	font-size: 15px;
}

img{max-width: 100%; display: block; }
button{background-color: transparent; border: transparent;}






.box-container{
	max-width: 25rem; 
	background-color: hsl(213, 19%, 18%);
	padding: 1.5rem;
	border-radius: 1.2rem;
	margin-bottom: 1rem;

}


.box-container>*:not(div:first-child){margin-top: 1rem;}
.img-container, .rating-btn{
	padding: 2rem;
	aspect-ratio: ;
	background-color:  hsl(213, 19%, 18%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.box-container p{color: white;}
.star-icon{


}
.rating-btn-container{
	max-width: 100%; display: flex; justify-content: space-between;
}
.rating-btn{
	width: 2.5rem;
	color: white;
	cursor: pointer;
	transition: all 0.35 ease-in-out;
}
.rating-btn:hover{
	background-color: hsl(216, 12%, 54%) ;
	font-weight: 700;
}
.rating-btn[aria-selected="true"]{
	background-color:  hsl(25, 97%, 53%);
	font-weight: 700;
}



.submit-btn{
	width: 100%;
	border-radius: 1.5rem;
	background-color: hsl(25, 97%, 53%);
	padding-block: 0.35rem;
	color: white;
	text-transform: uppercase;
	font-size: 0.8rem;
	letter-spacing: 0.1em;
	cursor: pointer;
	transition: all 0.3s ease-in-out;

}
.submit-btn:hover{
	background-color: white;
	color: hsl(25, 97%, 53%);
   font-weight: 700;
}




.thank-you-container{
	padding-inline: 2.5em;
	text-align: center;


}
.thank-you-container img{
	margin-inline:auto ;
	max-width: 50%;
}
.thank-you-container p{font: 0.78rem;}
.box-container{}
.rating-result{
	background-color:  hsl(213, 19%, 18%);
	color: orange;
	max-width: 54%;
	padding-block:0.2em ;
	margin-inline:auto ;
	border-radius: 1rem;
}


@media screen and (max-width: 280px){
	.box-container{max-width: 17rem; margin-inline:auto ;}
	.rating-result{max-width: 75%;}
}

